
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Alata", sans-serif;
}

::-moz-placeholder {
    font-family: "Alata", sans-serif;
    color: #bbb;
    opacity: 1;
}

:-ms-input-placeholder {
    font-family: "Alata", sans-serif;
    color: #bbb;
    opacity: 1;
}

::placeholder {
    font-family: "Alata", sans-serif;
    color: #bbb;
    opacity: 1;
}

body {
    background-color: #fff;
    color: #222;
    display: flex;
    align-items: center;

}

a.back {
    position: absolute;
    top: 10px;
    right: 10px;
}

.textOutput {
    display: block;
    width: fit-content;
    height: auto;
    text-align: center;
    font-size: 2rem;
    font-family: "Alata", sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: auto;
}

.textOutput span {
    display: inline-block;
    transform-origin: bottom left;
    padding-left: 40px;
    margin-left: -40px;
    transform: rotate(25deg) scale(0.5);
    opacity: 0;
    -webkit-animation: flingUp 0.8s 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
    animation: flingUp 0.8s 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

textarea {
    display: inline-block;
    width: 100%;
    min-height: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

@-webkit-keyframes flingUp {
    from {
        transform: rotate(25deg) scale(0.5);
        opacity: 0;
    }

    to {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes flingUp {
    from {
        transform: rotate(25deg) scale(0.5);
        opacity: 0;
    }

    to {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

.textOutput span:nth-child(1n) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.textOutput span:nth-child(2n) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.textOutput span:nth-child(3n) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.textOutput span:nth-child(4n) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.textOutput span:nth-child(5n) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.textOutput span:nth-child(6n) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.textOutput span:nth-child(7n) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.textOutput span:nth-child(8n) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.textOutput span:nth-child(9n) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.textOutput span:nth-child(10n) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.textOutput span:nth-child(11n) {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
}

.textOutput span:nth-child(12n) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.textOutput span:nth-child(13n) {
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

.textOutput span:nth-child(14n) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.textOutput span:nth-child(15n) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.textOutput span:nth-child(16n) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.textOutput span:nth-child(17n) {
    -webkit-animation-delay: 0.85s;
    animation-delay: 0.85s;
}

.textOutput span:nth-child(18n) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.textOutput span:nth-child(19n) {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
}

.textOutput span:nth-child(20n) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.textOutput span:nth-child(21n) {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

.textOutput span:nth-child(22n) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.textOutput span:nth-child(23n) {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.textOutput span:nth-child(24n) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.textOutput span:nth-child(25n) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.textOutput span:nth-child(26n) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.textOutput span:nth-child(27n) {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s;
}

.textOutput span:nth-child(28n) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.textOutput span:nth-child(29n) {
    -webkit-animation-delay: 1.45s;
    animation-delay: 1.45s;
}

.textOutput span:nth-child(30n) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.textOutput span:nth-child(31n) {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s;
}

.textOutput span:nth-child(32n) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.textOutput span:nth-child(33n) {
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s;
}

.textOutput span:nth-child(34n) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.textOutput span:nth-child(35n) {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.textOutput span:nth-child(36n) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.textOutput span:nth-child(37n) {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
}

.textOutput span:nth-child(38n) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.textOutput span:nth-child(39n) {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s;
}

.textOutput span:nth-child(40n) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.textOutput span:nth-child(41n) {
    -webkit-animation-delay: 2.05s;
    animation-delay: 2.05s;
}

.textOutput span:nth-child(42n) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.textOutput span:nth-child(43n) {
    -webkit-animation-delay: 2.15s;
    animation-delay: 2.15s;
}

.textOutput span:nth-child(44n) {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.textOutput span:nth-child(45n) {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.textOutput span:nth-child(46n) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.textOutput span:nth-child(47n) {
    -webkit-animation-delay: 2.35s;
    animation-delay: 2.35s;
}

.textOutput span:nth-child(48n) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.textOutput span:nth-child(49n) {
    -webkit-animation-delay: 2.45s;
    animation-delay: 2.45s;
}

.textOutput span:nth-child(50n) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.textOutput span:nth-child(51n) {
    -webkit-animation-delay: 2.55s;
    animation-delay: 2.55s;
}

.textOutput span:nth-child(52n) {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
}

.textOutput span:nth-child(53n) {
    -webkit-animation-delay: 2.65s;
    animation-delay: 2.65s;
}

.textOutput span:nth-child(54n) {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

.textOutput span:nth-child(55n) {
    -webkit-animation-delay: 2.75s;
    animation-delay: 2.75s;
}

.textOutput span:nth-child(56n) {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.textOutput span:nth-child(57n) {
    -webkit-animation-delay: 2.85s;
    animation-delay: 2.85s;
}

.textOutput span:nth-child(58n) {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
}

.textOutput span:nth-child(59n) {
    -webkit-animation-delay: 2.95s;
    animation-delay: 2.95s;
}

.textOutput span:nth-child(60n) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.textOutput span:nth-child(61n) {
    -webkit-animation-delay: 3.05s;
    animation-delay: 3.05s;
}

.textOutput span:nth-child(62n) {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
}

.textOutput span:nth-child(63n) {
    -webkit-animation-delay: 3.15s;
    animation-delay: 3.15s;
}

.textOutput span:nth-child(64n) {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}

.textOutput span:nth-child(65n) {
    -webkit-animation-delay: 3.25s;
    animation-delay: 3.25s;
}

.textOutput span:nth-child(66n) {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

.textOutput span:nth-child(67n) {
    -webkit-animation-delay: 3.35s;
    animation-delay: 3.35s;
}

.textOutput span:nth-child(68n) {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

.textOutput span:nth-child(69n) {
    -webkit-animation-delay: 3.45s;
    animation-delay: 3.45s;
}

.textOutput span:nth-child(70n) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.textOutput span:nth-child(71n) {
    -webkit-animation-delay: 3.55s;
    animation-delay: 3.55s;
}

.textOutput span:nth-child(72n) {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.textOutput span:nth-child(73n) {
    -webkit-animation-delay: 3.65s;
    animation-delay: 3.65s;
}

.textOutput span:nth-child(74n) {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
}

.textOutput span:nth-child(75n) {
    -webkit-animation-delay: 3.75s;
    animation-delay: 3.75s;
}

.textOutput span:nth-child(76n) {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
}

.textOutput span:nth-child(77n) {
    -webkit-animation-delay: 3.85s;
    animation-delay: 3.85s;
}

.textOutput span:nth-child(78n) {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
}

.textOutput span:nth-child(79n) {
    -webkit-animation-delay: 3.95s;
    animation-delay: 3.95s;
}

.textOutput span:nth-child(80n) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.textOutput span:nth-child(81n) {
    -webkit-animation-delay: 4.05s;
    animation-delay: 4.05s;
}

.textOutput span:nth-child(82n) {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s;
}

.textOutput span:nth-child(83n) {
    -webkit-animation-delay: 4.15s;
    animation-delay: 4.15s;
}

.textOutput span:nth-child(84n) {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}

.textOutput span:nth-child(85n) {
    -webkit-animation-delay: 4.25s;
    animation-delay: 4.25s;
}

.textOutput span:nth-child(86n) {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s;
}

.textOutput span:nth-child(87n) {
    -webkit-animation-delay: 4.35s;
    animation-delay: 4.35s;
}

.textOutput span:nth-child(88n) {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
}

.textOutput span:nth-child(89n) {
    -webkit-animation-delay: 4.45s;
    animation-delay: 4.45s;
}

.textOutput span:nth-child(90n) {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

.textOutput span:nth-child(91n) {
    -webkit-animation-delay: 4.55s;
    animation-delay: 4.55s;
}

.textOutput span:nth-child(92n) {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
}

.textOutput span:nth-child(93n) {
    -webkit-animation-delay: 4.65s;
    animation-delay: 4.65s;
}

.textOutput span:nth-child(94n) {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s;
}

.textOutput span:nth-child(95n) {
    -webkit-animation-delay: 4.75s;
    animation-delay: 4.75s;
}

.textOutput span:nth-child(96n) {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s;
}

.textOutput span:nth-child(97n) {
    -webkit-animation-delay: 4.85s;
    animation-delay: 4.85s;
}

.textOutput span:nth-child(98n) {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
}

.textOutput span:nth-child(99n) {
    -webkit-animation-delay: 4.95s;
    animation-delay: 4.95s;
}

.textOutput span:nth-child(100n) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}


.paragraph {
    line-height: 1.5;
    margin: 3rem;
    font-family: sans-serif;
}

.p {
    margin: 1rem 0;
}

.p:first-of-type {
    font-size: 1.5rem;
    font-weight: 300;
}

.wrapper {
    max-width: 1100px;
    height: auto;
    margin: auto;
}

section.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

section.main .image {
    width: 40%;
    height: auto;
    text-align: center;
}

section.main .text {
    width: 60%;
    height: auto;
    text-align: left;
}

.textOutput span:first-child {
    /*padding-left: 0;*/
}

.paragraph p {

    font-size: 1.5rem;
    font-weight: 300;

}

.link {
    color: #2196f3;
    text-decoration: none;
}

.compete-image {
    max-width: 300px;
}

@media (max-width: 991px) {
    .paragraph p {
        font-size: 1.25rem;
        font-weight: 300;
    }
}

@media (max-width: 768px) {
    section.main .text, section.main .image {
        width: 100%;
        height: auto;
        text-align: left;
    }

    section.main {
        flex-wrap: wrap;
        text-align: center;
    }

    section.main .image img {
        margin: auto;
        display: block;
        max-width: 400px;
    }

    section.main .text {
        text-align: center;
    }

    .paragraph {
        margin: 3em auto;
    }

    .wrapper {
        margin-top: 70px;
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .back {
        top: 5px !important;
        right: 5px !important;
    }
}